
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="primary" fill="clear" (click)="onCancel()">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        {{ mode === 'New' ? 'Jugador nuevo' : 'Editar Jugador' }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input formControlName="surname" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input formControlName="age" type="number"></ion-input>
      </ion-item>
      <!--Para cada posicion en el array que contiene todas las posiciones
      create un boton y si esa clase está seleccionada añadele la clase selected.
    
      Al hacerle click activa la funcion togglePosition utilizando el id de esa posición-->
      <!--<div *ngFor="let position of allPositions">
        <ion-button [ngClass]="selectedPositions.has(position.id) ? 'selected' : 'not-selected'"
                    (click)="togglePosition(position.id)">
          {{ position.name }}
        </ion-button>
      </div>-->
      <app-position-selector formControlName="positions" [inputPositions]="this.selectedPositions"
      (positionsChange)="updateSelected($event)"></app-position-selector>
    </form>
  </ion-content>


  <ion-footer>
    <!--aca se usa el isFormDirty que habíamos declarado antes para chequear si el form es valido o no-->
    <ion-button  type="submit" [disabled]="!form.valid || !isFormDirty" class="submitButton" expand="full" (click)="onSubmit()">{{(mode=='New'?'Crear':'Guardar')}}</ion-button>
  </ion-footer>
  <!--[disabled]="!form.valid || !isFormDirty"-->