.page-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column; // alinear horizontal, para vertical poner column
  flex: 1; // ocupa toda la row
  height: calc(100% - 100px); //altura=100%-50px para el boton y 50 para el label
  overflow-y: auto;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  max-width: 50%;
  margin: 0 auto;
}

.dragAndDrop{
  display: flex;
  flex-direction: row; // alinear horizontal, para vertical poner column
  flex: 1; // ocupa toda la row
  height: 100%;
  overflow: hidden;
  margin:2%
}
.players-list,
.team-list {
  flex: 1; // las dos listas usan la misma cant de espacio
  overflow-y: auto; // scroll vertical
  padding: 10px;
  height: 100%;
}
  


ion-input {
  font-size: 1.2rem;
  margin-left:2%;
}
.dragging {
  opacity: 0.5; /* Por ejemplo, reduce la opacidad durante el arrastre */
  border: 2px dashed #000; /* Agrega un borde punteado durante el arrastre */
  /* Otros estilos que desees aplicar durante el arrastre */
}
ion-title{
  font-size: 1.5rem;
}

ion-button{
  --background: #009a44;
  --background-hover: #009a44;
  --background-activated: #03ca5a;
  --background-focused: #03ca5a;
  --font-size:2.5rem !important;
//009a44
}
.submitButton{
  font-size: 2rem;
}