/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.fullModal{
    --height: 90%;
    --width: 90%
}

body {
    --background-color: #009a44; /* Color principal para el fondo */
    --color: #fff; /* Color de texto principal */
  }
  
  /* O puedes usar :root para definir variables de color */
  :root {
    --main-bg-color: #009a44;
    --main-text-color: #fff;
  }
  
  body {
    --background-color: var(--main-bg-color);
    --color: var(--main-text-color);
  }
  /* Puedes agregar estos estilos a elementos específicos o usar clases según tus necesidades */
.secondary-color {
    --color: #fff; /* Color secundario */
  }
  
  .tertiary-color {
    --color: #7e4d32; /* Color terciario */
  }
  .brown-details {
    --color: #7e4d32; /* Detalles en marrón */
  }
  
  .position-selector-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  