<ion-header [translucent]="true">
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main-background">
  <ion-button fill="clear" aria-label="New User" (click)="onNewteam()" class="rounde">
    <ion-icon slot="icon-only" color="primary" name="add-outline" aria-hidden="true"></ion-icon>
  </ion-button>
  <ion-row>
    <ion-col size="12" size-md="6" size-lg="4" size-xl="3" *ngFor="let team of ((teams.teams$ | async)); let i = index">
    <app-team-info
      appHighLight
      [team]="team" 
      (onCardClicked)="onCardClicked(team)"
      (onDeleteClicked)="onDeleteClicked(team)"
    >
    </app-team-info>
  </ion-col>
  </ion-row>
</ion-content>
